{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Detail</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>

<body>
    <header class="datail-view-header">
        <!-- Add your logo and navigation bar here -->
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Pricing</a></li>
            </ul>
        </nav>
    </header>

    <main id="datail-view-main">
        <section class="event-detail">
            <!-- Event details -->
            <div class="event-image">
                <img id="event-image-img" src="https://via.placeholder.com/150" alt="Event Image">
            </div>
            <div id="event-detail-items">
                <h2 id="event-title" class="event-detail-item">Loading...</h2>
                <p id="event-description" class="event-detail-item">Loading...</p>
                <hr>
                <p id="location">Location</p>
                <p id="event-location" class="event-detail-item">Loading...</p>
                <hr>
                <p id="event-date" class="event-detail-item">Loading...</p>
                <hr>
                <div id="price">
                <p id="event-price" class="event-detail-item">Loading...</p>
                <p id="fee-label">Ticket Fee</p>
                </div>
                <hr>
                <a href="/event-registration" class="register-button">Register</a>
            </div>
        </section>
    </main>

    <script src="{% static 'event_detail.js' %}"></script>
</body>

</html>